/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section1,.minor-section2,.minor-section3,.minor-section4 {
  padding: 30px;
  margin-bottom: 10px;
  border: solid 1px white;
  background-color: white;
  margin-right: 200px;border-radius: 25px;
  padding: 20px;
  width: 400px;
  height: auto; 
  font-family: 'Courier New', Courier, monospace;
  margin-right: 20px;
  margin: 40px;
  font-size: 10px;
}

#webtitle{
  border: solid 1px black;
  background-color: black;
  margin: 20px;
  color: white;
  height: 70px;
  text-align: center;
}

.description, .credits{
padding: 10px;
margin-bottom: 10px;
border: solid 1px white;
background-color: white;
margin-right: 200px;border-radius: 25px;
padding: 20px;
width: auto;
height: auto; 
font-family: 'Courier New', Courier, monospace;
margin-right: 20px;
margin: 40px;
margin-bottom: 10px;
text-align: center;
}

/* #content{
  background-color: maroon;
} */

body{
  background-image: url(../img/community_gets_thru.jpg);
  background-size: cover;
  background-size: 100% 100%;
  background-attachment: fixed;
  /* color:black;
  margin: 0;
  padding: 20px;
  background-color: maroon; */
}

/* body::before {
  content: "";
  background-image: url(../img/community_gets_thru.jpg);
  opacity: 50%; /* Adjust the opacity */
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-size: 100% 100%;
  background-attachment: fixed;
} */ 

/* .tabs{
display: flex;
justify-content: center;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
} */

/* .item1,.item2,.item3,.item4,.item5,.item6,.item7,.item8,.item9,.item10,.item11,.item12,.item13,.item14,.item15,.item16{
padding: 10px;
margin-bottom: 10px;
border: solid 1px #f0e09c;
background-color: #f0e09c;
} */


#wrapper {
  display: flex;
  flex-direction: row; /* This is the default, but just to be explicit */
}

#column1{
  flex: 1;
/* display: flex;
flex-direction: column; */
}

#column2{
  flex: 2;
/* display: flex; 
flex-direction: column; */
}


#webtitle{
  text-align: center;
}

#originalver{
  width: 400px;
}