/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section1,.minor-section2,.minor-section3,.minor-section4 {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #f0e09c;
    background-color: #f0e09c;
    margin-right: 200px;border-radius: 25px;
    padding: 20px;
    width: 400px;
    height: 200px;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 20px;
  }
  #content{
    background-color: maroon;
  margin-bottom: 100%;}

  body{
    color:black;
    margin: 0;
    padding: 20px;
    background-color: maroon;
  }

.tabs{
  display: flex;
  flex-direction: row;
}

.item1,.item2,.item3,.item4,.item5,.item6,.item7,.item8{
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #f0e09c;
  background-color: #f0e09c;

}

.row1{
  display: flex;
}

.row2{
  display: flex;
}
.mycats{
  width: 450px;
  margin-right: 20px;margin-top: 10px;border-radius: 25px;
  }



