/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section1,.minor-section2,.minor-section3,.minor-section4 {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px white;
  background-color: white;
  margin-right: 200px;
  border-radius: 25px;
  margin-left: 200px;
  padding: 20px;
  width: 400px;
  height: 200px; 
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  margin-right: 20px;
}

#webtitle{
  border: solid 15px black;
  background-color: black;
  position: sticky;
  top: 0;
  padding: 10px 16px;
  color: white;
  text-align: center;
  margin: 0;
}


.description { 
  border: solid 1px white;
  background-color: white;
  margin: auto;
  padding: 10px;
  width: 50%;
  height: auto; 
  border: solid 1px white;
  border-radius: 25px;
  font-family: 'Courier New', Courier, monospace;
  }

.credits {
  border: solid 1px white;
  background-color: white;
  margin: auto;
  width: 50%;
  height: auto; 
  padding: 10px;
  border: solid 1px white;
  border-radius: 25px;
  font-family: 'Courier New', Courier, monospace;
}

.breaker{
  padding: 10px;
}



body{
  color:black;
  margin: 0;
  background-image: url("../img/lamontandnami.jpg");
  background-color: maroon;
}

.item1,.item2,.item3,.item4,.item5,.item6,.item7,.item8,.item9,.item10,.item11,.item12,.item13,.item14,.item15,.item16{
padding: 10px;
margin-bottom: 10px;
border: solid 1px #f0e09c;
background-color: #f0e09c;
}



#wrapper {
  display: flex;
  flex-direction: row; /* This is the default, but just to be explicit */
}
#wrapper > div > .minor-section1:hover, 
#wrapper > div > .minor-section2:hover,
#wrapper > div > .minor-section3:hover,
#wrapper > div > .minor-section4:hover
{
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

#column1{
  flex: 1;
  /* width:5em; */
}

#column2{
  flex: 2;
}


#webtitle{
  text-align: center;
  padding-block: 0.7em 1em; 
  writing-mode: horizontal-tb;
  font-size: 80px;
}



